<div class="main posts-new">
  <div class="container">
    <h1 class="form-heading">Contet edit</h1>
    <%= form_tag("/posts/#{@post.id}/update", {multipart: true}) do %>
      <div class="form">
        <div class="form-body">
          <% @post.errors.full_messages.each do |message| %>
            <div class="form-error">
              <%= message %>
            </div>
          <% end %>
          <p>Cook recipi</p>
          <textarea name="content"><%= @post.content %></textarea>
          <p>Photo</p>
          <input name="image" type="file">
          <input type="submit" value="save">
        </div>
      </div>
    <% end %>
  </div>
</div>
